
// Common - Base
//------------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6, blockquote,
p, ul, ol, dl, dt, dd, img, figure {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

body {
  margin: 0;
  background: #f5f5f5;
  color: $color-gray-dark;
  font-family: $font-karla;
  font-size: $font-size;
  line-height: $font-line-height;
}

a {
  color: $color-green;
  text-decoration: none;
  transition: color 0.25s ease-in-out;

  &:hover {
    color: darken($color-green, 15%);
  }
}
