/*
** Module - Text
** -----------------------------------------------------------------------------*/

.text {
  color: $color-gray-light;

  & + & {
    margin-top: 1em;
  }

  &_lead {
    color: $color-gray;
  }
}
