{% extends 'layouts/default.twig' %}
{% set pageName = 'Email' %}

{% block content %}
  <h2 class="heading">Email templates:</h2>

  <ul class="file-list">
    <li class="file-list-element">
      <div class="file-list-title">
        <i class="fa fa-file-text-o"></i>
        <strong>About Us</strong>
      </div>

      <div class="file-types">
        <h4>Types:</h4>
        <ul>
          <li><a href="#"><i class="fa fa-html5"></i> HTML</a></li>
          <li><a href="#"><i class="fa fa-align-left"></i> TXT</a></li>
        </ul>
      </div>
    </li>

    <li class="file-list-element">
      <div class="file-list-title">
        <i class="fa fa-file-text-o"></i>
        <strong>Contact Info</strong>
      </div>

      <div class="file-types">
        <h4>Types:</h4>
        <ul>
          <li><a href="#"><i class="fa fa-html5"></i> HTML</a></li>
          <li><a href="#"><i class="fa fa-align-left"></i> TXT</a></li>
        </ul>
      </div>
    </li>

    <li class="file-list-element">
      <div class="file-list-title">
        <i class="fa fa-file-text-o"></i>
        <strong>Shopping Cart</strong>
      </div>

      <div class="file-types">
        <h4>Types:</h4>
        <ul>
          <li><a href="#"><i class="fa fa-html5"></i> HTML</a></li>
          <li><a href="#"><i class="fa fa-align-left"></i> TXT</a></li>
        </ul>
      </div>
    </li>
  </ul>
{% endblock %}
