<footer class="page-foot">
  <p class="page-foot-date"><i class="fa fa-clock-o"></i> Started on: <strong>Mar 30, 2015</strong></p>
  <p class="page-foot-powered"><i class="fa fa-code"></i> Powered by <a href="https://github.com/piotrkulpinski/generator-limelight" target="_blank"><strong>generator-limelight</strong></a></p>
</footer>
<!-- / page-foot -->
