<footer class="content__foot">
  <p class="content__info"><i class="fa fa-clock-o"></i> Started on: <strong>{{ startedOn }}</strong></p>
  {% if info %}
    <p class="content__info"><i class="fa fa-info"></i> {{ info }}</p>
  {% endif %}
</footer>
<!-- /.content__foot -->
