<aside class="content__sidebar">
  <h2 class="heading">Instructions</h2>
  <p class="text text_lead">The information reported on the left is an outlined representation of your entire project. Please review it periodically to ensure it’s complete and up to date.</p>
  <p class="text">When completed, all your deliverable files will be located inside the dist folder. No files found outside of that folder should be uploaded to your server (e.g. this file).</p>
</aside>
<!-- /.content__sidebar -->
