/*
** Common - Layout
** -----------------------------------------------------------------------------*/

.body-bag {
  position: relative;
  max-width: $container-width;
  margin: 0 auto;
  padding: $container-padding;
  background: $color-white;
  border: 1px solid $color-gray-lighter;

  @include breakpoint(sm) {
    padding: $container-padding-inner;
  }
}

/* Container */
.container {
  position: relative;
  max-width: $container-width + 2 * $container-padding;
  margin: 0 auto;

  @include breakpoint(sm) {
    padding: $container-padding;
  }
}

.content {
  padding: $container-padding;
  background: $color-white;
  border: 1px solid $color-gray-lighter;

  @include breakpoint(sm) {
    padding: $container-padding-inner;
  }
}

.inner-content {
  @include breakpoint(sm) {
    float: left;
    width: 60%;
  }
}

.inner-sidebar {
  margin-top: $container-padding-inner * 1.5;

  @include breakpoint(sm) {
    float: right;
    width: 40%;
    padding-left: 10%;
    margin-top: 0;
  }
}

.clearfix {
  @include clearfix;
}
