{% include '../partials/head.twig' with {'pageName': pageName } %}

<body>
  <div class="content">
    {% include '../partials/page-head.twig' %}

    <div class="content__wrapper">
      <section class="content__main">
        {% block content %}
          No content
        {% endblock %}
      </section>
      <!-- /.content__main -->

      {% include '../partials/sidebar.twig' %}
    </div>
    <!-- /.content__wrapper -->

    {% include '../partials/page-foot.twig' %}
  </div>
  <!-- /.content -->
</body>
</html>
